html {
	overflow: hidden;
}

body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #9F5EB8;
}

#log {
	background: white;
	margin: 0;
	padding: 0.5em 0.5em 0.5em 0.5em;
	top: 1.5em;
	left: 0.5em;
	right: 0.5em;
	bottom: 3em;
	overflow: auto;
	height: 80vh;
}

#responseMsgSection {
	height: 570px;
	position: relative;
}